html, body {
    height: 100%;
    margin:0px;
    color: #EEEFF7;
    background-color: #31353D;

}
#topbar {
    background: #1C1D21 none repeat scroll 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.divLinkHome {
  cursor: pointer; 
  margin-top: 10px;
  background-color: #1C1D21;
  color: #445878;
  position: relative;
  padding-bottom: 10px;
  font-weight: bold;
}
.divLink {
  cursor: pointer; 
  margin-top: 10px;
  color: #EEEFF7;
  background-color: #1C1D21;
  margin-left: 10px;
  position: relative;
}
.divLink:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color: #92CDCF;
  content: "";
  transition: width 0.4s;
}
.divLink:hover {
  color: #EEEFF7;
}
.divLink:hover:after {
  width: 100%;
}
.lightblue {
  color: #92CDCF;
}
#about_me {
  display: block;
  padding-top: 200px;
  text-align: center;
  color: #EEEFF7;
  height: 100vh;
}
#projects {
  padding-top: 200px;
  text-align: center;
  color: #92CDCF;
  height: 100vh;
}
#resume {
  padding-top: 200px;
  text-align: center;
  color: #92CDCF;
  height: 100vh;
}
